/*=Base
---------------------------------------------------------------------*/
a {
    text-decoration: none;
    transition: color 0.3s ease;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

.logo {
  font-size: 30px;
  letter-spacing: 8px;

  a {
    color: #000000;
  }
}

.site-header {
  height: 100px;
  border: 1px solid pink;
  display: flex;
  align-items: center;
}

.nav-main-wrap {
  ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 1.5em;
    font-size: 17px;
  }

  a {
    color: #8c8a8a !important;
  }
}

.primary--landing-background {
  border: 1px solid blue;
  height: 1000px;
}
