/*=Typography
---------------------------------------------------------------------*/

/**
 * Header font sizes are set under the foundation settings. This can be
 * used to overwrite those or for any additional typography styles.
 */

@font-face {
  font-family: "Plain Ultrathin";
  src: url("../fonts/Plain-Ultrathin.otf");
}

$body-font-family: "Plain Ultrathin";
